@font-face {
    font-family: "Inconsolata";
    src: url("fonts/Inconsolata-VariableFont_wdth,wght.ttf") format("woff2 supports variations"),
         url("fonts/Inconsolata-VariableFont_wdth,wght.ttf") format("woff2-variations");
    font-weight: 100 1000;
  }
@font-face {
    font-family: "Raleway";
    src: url("fonts/Raleway-VariableFont_wght.ttf") format("woff2 supports variations"),
         url("fonts/Raleway-VariableFont_wght.ttf") format("woff2-variations");
    font-weight: 100 1000;
  }
@font-face {
    font-family: "SourceCodePro";
    src: url("fonts/SourceCodePro-VariableFont_wght.ttf") format("woff2 supports variations"),
         url("fonts/SourceCodePro-VariableFont_wght.ttf") format("woff2-variations");
    font-weight: 100 1000;
  }


$font__fallback: BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
// stylelint-disable value-keyword-case
$font__main: "Inconsolata", $font__fallback;
// stylelint-enable value-keyword-case
$font__header: "Raleway", $font__fallback;
$font__menu: "SourceCodePro", $font__fallback;
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
